@import './base.css';

html, body {
  min-height: 100vh;
  min-width: 100%;
  margin: 0; 
  overflow: hidden
}

.dot {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 24px 24px;
  z-index: -1;
}

#name-stacked {
  width: 100vh;
  opacity: 0.3;
  pointer-events: none;
}